//
// Latest news/blog page
//



.post-title {
    border-bottom: 2px dotted $primary-color;

    a {
        color: #1b1b1b;
    }
}

.post-header {
    margin-bottom: 30px;
}

.post-author, .post-meta {
    font-size: 90%;
}