//
// Styles for classes page
//

.class-box {
    height: 300px;
    max-width: 350px;
    margin: 0 auto;
}

.center-align {
    height: 100%;
    background: rgba(12,12,12,0.6);
}

.class-text {
    margin: 0 5px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h3 {
        font-size: 30px;
        color: $primary-color;
        text-transform: uppercase;
        line-height: 1.6;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
}

.class-image-1 {    
    background: url(../assets/img/images/muscle-hustle-programme.jpg) no-repeat center center / cover;
}

.class-image-2 {    
    background: url(../assets/img/images/back-to-fitness-programme.jpg) no-repeat center center / cover;
}

.class-image-3 {    
    background: url(../assets/img/images/couples-classes.jpg) no-repeat center center / cover;
}

.class-image-4 {    
    background: url(../assets/img/images/singles-classes.jpg) no-repeat center center / cover;
}

.class-image-5 {    
    background: url(../assets/img/images/company-group-fun-days.jpg) no-repeat center center / cover;
}


.drop-text {
    p, h1, h2, h3, h4, h5 {
        color: $white;
    }
}

.hover-info {
    width: 350px !important;
    padding: 20px !important;
    background: darken($primary-color, 10%);

    border: 2px solid white;
    border-left: none;

    p {
        font-size: 13px;
    }
}

.text-front-1 {
    z-index: 103;
}

.text-front-2 {
    z-index: 102;
}

.text-front-3 {
    z-index: 101;
}

.text-front-4 {
    z-index: 104;
}

.text-front-5 {
    z-index: 105;
}

.megaphone-icon {
    font-size: 75px;
    margin-right: 25px;
}

.online-hover {
    &:hover {
        background: $primary-color;
        transition: 0.5s;
    }
}



//
// Onling training page 
//

.online-class-box {
    padding: 5px 0;
    background: $white;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);

    &:hover {
        border: 2px solid $primary-color;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: $black;
        background: $white;
        @include item-transition(0.3s);

        h3 {
            color: $black;
            @include item-transition(0.3s);
        }

        .online-class-info {
            padding-left: 20px;
            @include item-transition(0.3s);
        }
    }

    h3 {
        color: $primary-color;
    }
}

.class-date {
    padding: 0 2px;
    background: $primary-color;
    border-radius: 5px;

    @media #{$medium-up} {
        margin-top: 10px;
    }

    h5 {
        margin: 4px 1px;
        color: $primary-color;
        background: $white;
        border-radius: 3px;
    }

    p {
        margin-bottom: 10px;
        font-size: 12px;
        color: $white;
    }
}

.online-class-img {
    margin-right: 15px;

    img {
        border-radius: 5px;
    }
}