//
// Contact form
//


.contact-form {
    line-height: 1;

    input, textarea {
        width: 100% !important;
        margin: 10px 0 !important;
        border: 1px solid $primary-color !important;
        font-size: 12px;
        background: rgba(0,0,0,0);

        @media #{$large-up} {
            width: 40% !important;
        }
    }

    textarea {
        width: 100% !important;

        @media #{$large-up} {
            width: 60% !important;
        }
    }

    input[type=submit] {
        width: 50% !important;
        padding: 8px 0;
        color: $white;
        background: $primary-color !important;
        border-radius: 4px;

        @media #{$large-up} {
            width: 25% !important;
        }
    }
}

label {
    display: none;
}