//
// Styles for frontpage
//

.link-box {
    margin-top: 17px;
    height: 300px;
    background: $white;
    overflow: hidden;

    outline: 20px solid rgba(0,0,0,0);
    &:hover {
        outline: 5px solid $primary-color;

        -webkit-transition: ease-out 0.5s;
        -moz-transition: ease-out 0.5s;
        -o-transition: ease-out 0.5s;
        transition: ease-out 0.5s;
    }
}

.img-box {
    height: 100%;
}

.link-box-title {
    background: $primary-color;
    text-align: center;
    padding: 8px 10px;

    h5 {
        text-transform: uppercase;
        color: $white;
    }
}

.link-box-pic-1 {
    background: url(../assets/img/images/img-1.jpg) no-repeat center center / cover;
}

.link-box-pic-2 {
    background: url(../assets/img/images/img-2.jpg) no-repeat center center / cover;
}

.link-box-pic-3 {
    background: url(../assets/img/images/img-3.jpg) no-repeat center center / cover;
}