//
// Styles for testimonials page
//

.testim-box {
    padding: 20px;
    border: 1px solid $white;
    box-shadow: 0px 3px 10px black;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  lighten($primary-color, 50%) 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($primary-color, 50%)), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  lighten($primary-color, 50%) 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  lighten($primary-color, 50%) 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  lighten($primary-color, 50%) 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  lighten($primary-color, 50%) 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($primary-color, 50%)', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    span {
        color: $primary-color;
    }
    
    .lighter {
        color: darken($primary-color, 10%);
    }
}