//
// General styles
//

@mixin item-transition($duration) {
    -webkit-transition: ease-out $duration;
    -moz-transition: ease-out $duration;
    -o-transition: ease-out $duration;
    transition: ease-out $duration;
}


.white {
    background: $white;
}

.text-white {
    color: $white;
}

.trans-white {
    background: rgba(255, 255, 255, 0.4);
}

.minus-top {
    margin-top: -40px;
}

.outer-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}

.space-top {
    margin-top: 20px;
}

.space-bot {
    margin-bottom: 20px;
}



.front-of-house {
    z-index: 99;
}

.back-of-house {
    z-index: -99;
}

.info-box {
    h1, h2, h3, h4, h5, h6 {
        color: $primary-color;
    }
    p {
        line-height: 2;
    }
    a {
        font-weight: bold;
    }
}

.gray-bg {
    margin: 50px 0;
    background: #e2e0e0;
    opacity: 0.9;
}

.red-bg {
    background: darken($primary-color, 5%);
}

.img-border {
    border-radius: 200px;
}

.img-spacing {
    margin: 5px;
}


// Typography

.b-title {
    display: inline-block;
    margin: 10px 0 30px 0;
    color: $primary-color;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        border-bottom: 3px solid $primary-color;
        width: 50%;
        height: 8px;
    }
}

.m-title {
    color: $primary-color;
    text-transform: uppercase;
}


// random

.testimonials {
    margin-top: 50px;
}
