//
// General styles
//

.white {
    background: $white;
}

.text-white {
    color: $white;
}

.trans-white {
    background: rgba(255, 255, 255, 0.4);
}

.minus-top {
    margin-top: -40px;
}

.outer-spacing {
    margin: 20px 0;
}

.inner-spacing {
    padding: 20px 0;
}

.space-top {
    margin-top: 20px;
}

.space-bot {
    margin-bottom: 20px;
}

.divider-spacing {
    padding: 50px 0;
}

.front-of-house {
    z-index: 99;
}

.back-of-house {
    z-index: -99;
}

.info-box {
    h1, h2, h3, h4, h5, h6 {
        color: $primary-color;
        text-align: center;
    }
    p {
        line-height: 2;
    }
    a {
        font-weight: bold;
    }
    .info-hr {
        margin: -8px auto 25px auto;
        width: 25%;
        height: 3px;      
        background: $primary-color;
        text-align: center; 
        border: 0px solid black; 
    }
}

.gray-bg {
    margin: 50px 0;
    background: #e2e0e0;
}

.red-bg {
    background: $primary-color;
}


// Typography

.b-title {
    display: inline-block;
    margin: 10px 0 30px 0;
    color: $primary-color;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        border-bottom: 3px solid $primary-color;
        width: 50%;
        height: 8px;


    }
}