//
// General styles
//

.white {
    background: $white;
}

.text-white {
    color: $white;
}

.trans-white {
    background: rgba(255, 255, 255, 0.4);
}

.minus-top {
    margin-top: -40px;
}

.outer-spacing {
    margin: 20px 0;
}

.inner-spacing {
    padding: 20px 0;
}

.space-top {
    margin-top: 20px;
}

.space-bot {
    margin-bottom: 20px;
}

.divider-spacing {
    padding: 50px 0;
}

.front-of-house {
    z-index: 99;
}

.back-of-house {
    z-index: -99;
}

.info-box {
    h1, h2, h3, h4, h5, h6 {
        color: $primary-color;
    }
    p {
        line-height: 2;
    }
    a {
        font-weight: bold;
    }
    .info-hr {
        margin: -8px auto 25px auto;
        width: 25%;
        height: 3px;      
        background: $primary-color;
        text-align: center; 
        border: 0px solid black; 
    }
}

.gray-bg {
    background: #e2e0e0;
}

.red-bg {
    // background-image: -webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, #EB6363),
    //     color-stop(0.89, #D52D2D)
    // );
    // background-image: -o-linear-gradient(bottom, #EB6363 0%, #D52D2D 89%);
    // background-image: -moz-linear-gradient(bottom, #EB6363 0%, #D52D2D 89%);
    // background-image: -webkit-linear-gradient(bottom, #EB6363 0%, #D52D2D 89%);
    // background-image: -ms-linear-gradient(bottom, #EB6363 0%, #D52D2D 89%);
    // background-image: linear-gradient(to bottom, #EB6363 0%, #D52D2D 89%);

    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #D97171),
    color-stop(0.5, #D52D2D),
    color-stop(1, #D97171)
);
background-image: -o-linear-gradient(bottom, #D97171 0%, #D52D2D 50%, #D97171 100%);
background-image: -moz-linear-gradient(bottom, #D97171 0%, #D52D2D 50%, #D97171 100%);
background-image: -webkit-linear-gradient(bottom, #D97171 0%, #D52D2D 50%, #D97171 100%);
background-image: -ms-linear-gradient(bottom, #D97171 0%, #D52D2D 50%, #D97171 100%);
background-image: linear-gradient(to bottom, #D97171 0%, #D52D2D 50%, #D97171 100%);
}


// you dont need this, foundation already has 'text-center' class.
.center {
    text-align: center;
}

// Typography

.b-title {
    display: inline-block;
    margin: 50px 0;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        border-bottom: 8px solid $primary-color;
        width: 50%;
        height: 8px;
    }
}